<!DOCTYPE html>
<!--Shared Layout-->
<html>
<head>
    <meta charset="utf-8" />
    <!-- Webpage title -->
    <title> @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/frogFavicon.png">

    <!-- Link to bootstrap and my own stylesheet -->
    <link href="~/css/mystyles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <!-- Navbar w/ taghelpers-->
    <nav class="navbar navbar-dark bg-dark" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">First C# Site</a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Calculator">Calculator</a>

        </div>
        <br />
    </nav>
    <header class="myfirstchange bg-gradient text-white">
        <div class="container px-4 text-center">
            <br />
            <h1 class="fw-bolder">@ViewData["Title"]</h1>
            <p class="lead">Assignment 5</p>
            <br />
        </div>
    </header>
    <div>
        @RenderBody()
    </div>



    <!-- JavaScript -->
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/Assgn4.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

</body>

</html>
