@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- A grade calculator -->
<div class="myfirstchange">
    <div class="container px-4">
        <br />
        <div class="row gx-4 justify-content-center">
            <div style="text-align:center" class="col-lg-8">
                <h2>Grade Calculator</h2>
                <br />
                <form>
                    <p>Input each grade as the number only. Do not include the % sign (ex. 90% is 90).</p>
                    <label>Assignments</label><br />
                    <input id="assignments" /><br />
                    <label>Group Project</label><br />
                    <input id="group" /><br />
                    <label>Quizzes</label><br />
                    <input id="quizzes" /><br />
                    <label>Midterm Exam</label><br />
                    <input id="midterm" /><br />
                    <label>Final Exam</label><br />
                    <input id="final" /><br />
                    <label>INTEX</label><br />
                    <input id="intex" /><br /><br />
                    <input type="button" value="Calculate" id="calculateBtn" />
                    <br />
                    <p id="output"></p>
                </form>
            </div>
        </div>
        <br />
    </div>
</div>
