@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";
}

@model CalculatorModel 
<!-- A grade calculator -->
<div class="myfirstchange">
    <div class="container px-4">
        <br />
        <div class="row gx-4 justify-content-center">
            <div style="text-align:center" class="col-lg-8">
                <h2>Grade Calculator</h2>
                <br />
                <form method="post">
                    <p>Input each grade as the number only. Do not include the % sign (ex. 90% is 90).</p>
                    <label>Assignments</label><br />
                    <input id="assignments" asp-for="Assign" /><br />
                    <label>Group Project</label><br />
                    <input id="group" asp-for="Group" /><br />
                    <label>Quizzes</label><br />
                    <input id="quizzes" asp-for="Quiz" /><br />
                    <label>Midterm Exam</label><br />
                    <input id="midterm" asp-for="Midterm" /><br />
                    <label>Final Exam</label><br />
                    <input id="final" asp-for="Final" /><br />
                    <label>INTEX</label><br />
                    <input id="intex" asp-for="Intex" /><br /><br />
                    <input type="submit" value="Calculate" id="calculateBtn" />
                    <br />
                    <div asp-validation-summary="All"></div>
                    <p id="output"></p>

                </form>
            </div>
        </div>
        <br />
    </div>
</div>
