@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<!-- Header with preferred name -->
<header class="myfirstchange bg-gradient text-white">
    <div class="container px-4 text-center">
        <br />
        <h1 class="fw-bolder">Sam Reyes</h1>
        <p class="lead">Assignment 4</p>
        <br />
    </div>
</header>

<!-- Paragraph on what I hope to get out of this IS 413 class -->
<div class="mysecondchange bg-gradient">
    <div class="container px-4">
        <br />
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Hopes</h2>
                <p>There are a few things I'd like to get out of this IS 413 class. I want to be more proficient in C# and become more familiar with a strongly typed language. I also want to become more familiar with the MVC framework. I want to see what capabilities ASP.NET has.</p>

            </div>
        </div>
        <br />
    </div>
</div>

<!-- A list of the top 3 jobs I am most interested in pursuing -->
<div class="bg-light">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <br />
                <h2>Top 3 Jobs</h2>
                <p class="lead">
                    The jobs I'm most interested in after graduation
                    <ol>
                        <li>Data Analyst</li>
                        <li>IT Consultant</li>
                        <li>Software Developer</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>



<!-- Picture of me -->

<div class="mysecondchange">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div style="text-align:center" class="col-lg-8 justify-content-center">
                <h2>Photo of Me</h2>
                <img style="height:400px" src="img/20210328_132552.jpg" />
                <br />
                <p> I like to travel</p>
                <br />
            </div>
        </div>
    </div>
</div>


<footer class="py-5 bg-dark">
</footer>


